@font-face {
  font-family: ANegaarBold;
  src: url(../font/ANegaarBold.ttf);
}

body {
  font-family: ANegaarBold;
}

.brand {
  padding-left: 50px;
}

.btnM {
  margin-right: 60px;
  width: 150px;
  height: 50px;
  background-color: #84cc16;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.intro img {
  margin: 0 22%;
}

.intro h1 {
  font-size: 20px;
  margin: 5% auto;
}

.intro .web {
  color: #84cc16;
}

.cmpnt {
  padding: 15px 25px;
  margin-left: 12px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #e6e5e5;
          box-shadow: 0 9px #e6e5e5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cmpnt img {
  width: 40%;
}

.cmpnt p {
  font-size: 20px;
}

.cmpnt i {
  font-size: 100px;
}

.cmpnt .cexplain {
  color: gray;
  font-size: 16px;
}

.cmpnt:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cmpnt:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.comment {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comment p {
  font-size: 18px;
  margin-top: 10%;
  margin-bottom: 13%;
  margin-left: 20px;
}

.nav-item a {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  margin-left: 60%;
  width: 40%;
}

.tableM {
  cursor: pointer;
  width: 160%;
}

.tableM .tableBg {
  background-color: #84cc16;
}

.bg {
  background-color: #84cc16;
}

.JS {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.componentWidth {
  width: 50%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

@media (max-width: 876px) {
  .icon {
    margin-top: 5%;
  }
  .btnM {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .tableM {
    display: none;
  }
  .componentWidth {
    width: 100%;
    padding-right: 20px;
  }
  .cmpnt {
    margin: auto;
  }
  .cmpnt img {
    width: 20%;
  }
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro img {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */